img {
    display: block;
    margin: 2rem auto;
    opacity: 0;
    animation: fadein 1.5s ease forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

